.posts{
    list-style-type:none;
    margin: 0;
}

.post{
    margin:1rem 0;
    a{
        background: #f4f4f4;
        color: #000000;
        text-decoration: none;
        display: block;
        padding: 1rem;
    }
    a:hover{
        background-color: #e4e4e4;

    }
}

.index{
    text-decoration: none;
    color: #000000;
    font-size: 28px;

}

